{% extends 'personal_offis.html' %}

{% block content %}

          <div class="col-xs-12 col-md-9 col-lg-10">


            <div class="titlecontent">Заказ №12345/ID654321</div>

            <div class="wrap_group_order">
              <div class="form_label lab_size_block">Данные заказа:</div> 
              <ul class="order_ul">
                <li><span>Категория:</span><span class="res_order">ICQ</span></li>
                <li><span>Дата заказа:</span><span class="res_order">01.01.2001</span></li>
                <li><span>Товар:</span><span class="res_order">6-тизначный</span></li>
                <li><span>Статус заказа:</span><span class="res_order">Оплачен</span></li>
                <li><span>Теги:</span><span class="res_order">VIP</span></li>
                <li><span>Стоимость заказа:</span><span class="res_order res_ord_r">2000 р.</span></li>
              </ul>
            </div>

            <div class="descript_order">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              </p>

              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <img src="images/order1.jpg" alt="">
                </div>
                 <div class="col-xs-12 col-md-6">
                  <img src="images/order2.jpg" alt="">
                </div>
              </div>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              </p>
            </div><!--descript_order-->

            <div class="support_order">
              <p>
                Если что-то пошло не так, если у вас проблемы с заказом или вопрос по заказу, пожалуйста, свяжитесь с поддержкой:
              </p>
              <a href="#" class="btn_supp">Связаться с поддержкой</a>
            </div>


            

  





          

      
        

          </div><!--col-md-9-->


{% endblock %}