<!DOCTYPE html>

<html>



<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="keywords" content="">

  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">



  <title>source</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>



  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">

  <link rel="stylesheet" href="slick/slick.css" type="text/css" media="screen" />

  <link rel="stylesheet" href="slick/slick-theme.css" type="text/css" media="screen" />

  <script type="text/javascript" src="slick/slick.min.js"></script>

  <link rel="stylesheet" href="js/formstyler/jquery.formstyler.css" type="text/css" media="screen" />
  <script type="text/javascript" src="js/formstyler/jquery.formstyler.min.js"></script>

  <script type="text/javascript" src="js/raty/jquery.raty.min.js"></script>
  <script type="text/javascript" src="js/jscharts.js"></script>



  <link rel="stylesheet" type="text/css" href="css/stylem.css">

  <script type="text/javascript" src="js/init.js"></script>



  <!--[if IE 9]>

      <link rel="stylesheet" type="text/css" href="css/ie9.css">

      <script type="text/javascript" src="js/placeholder.js"></script>

    <![endif]-->



</head>



<body>


  <div id="wrapper">

  <div class="wrapper">






  <header class="header header_m">

    <div class="container containersize1200">
      <div class="row">
        <div class="col-xs-4">
          <div class="logo_top">
            <img  src="images/logo.png" alt="">
          </div>
        </div>
        <div class="col-xs-8">
          <div  class="user_log">
            <div class="title_user_log">Личный кабинет</div>
            <form id="form">
                <input class="input" name="name" type="text" placeholder="Логин">
                <input class="input" name="password" type="password" placeholder="Пароль">
                <input type="submit" class="send_button" value="Войти">
            </form>
          </div>
          <div class="autoris_login">
            <div class="name_user_aut">Здравствуйте, Name</div>
            <a href="#" class="btn_user">Выйти</a>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="menu_center_group">
            <div class="main_menu">
              <ul>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Проверка заказов</a></li>
                <li><a href="#">Как купить</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Поддержка</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>







    <div class="maincontent">

      <div class="container containersize1200">

        <div class="row">
          <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="#">Главная /</a></li>
                <li><a href="#">личный кабинет /</a></li>
                <li><a href="#">поддержка /</a></li>
                <li><span>заказ №123456/ID654321</span></li>
            </ul>
          </div>
        </div>

        <div class="row">
          
          <div class="col-xs-12 col-md-3 col-lg-2">
              <a href="#" id="menu-toggle">Меню</a>
              <div   id="aside">
                 <a href="#" class="closas" id="closas">jjjj</a>
                <div class="asides">

                  <ul class="ul_asid">
                    <li><a href="#">История заказов</a></li>
                    <li><a href="#">Поддержка</a></li>
                    <li><a href="#">Личные данные</a></li>
                    <li><a href="#">Проверка заказов</a></li>
                  </ul>
                </div>
              </div>
          </div>



        <div class="col-xs-12 col-md-9 col-lg-10">
          
          <a href="#" class="a_back">&lt; Назад к списку</a>

            <div class="titlecontent title_inl">Заказ №12345/ID654321</div>
            <div class="resalt_order">Ожидает вашего ответа</div>

            <ul class="order_ul">
              <li><span>Номер заказа:</span><span class="res_order">123456</span></li>
              <li><span>ID платежа:</span><span class="res_order">654321</span></li>
              <li><span>Статус:</span><span class="res_order">Новый</span></li>
            </ul>

            <div class="block_btn">
              <a href="#" class="order_btn color_r">Ответить</a>
              <a href="#" class="order_btn color_w">Закрыть обращение</a>
            </div>

             <div class="wrap_block_com_meneg">

              <div class="block_comment_meneg">
                <div class="date_meneg">12.04.2017</div>
                <div class="block_com_meneg">
                  <div class="name_meneg">Менеджер (вы)</div>
                  <div class="text_meneg">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Aenean Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    </p>
                  </div>
                </div>
              </div><!--block_comment_meneg-->
              <div class="block_comment_meneg">
                <div class="date_meneg">12.04.2017</div>
                <div class="block_com_meneg">
                  <div class="name_meneg">Администратор)</div>
                  <div class="text_meneg">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Aenean Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Aenean Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Aenean Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    </p>
                  </div>
                </div>
              </div><!--block_comment_meneg-->
              <div class="block_comment_meneg">
                <div class="date_meneg">12.04.2017</div>
                <div class="block_com_meneg">
                  <div class="name_meneg">Клиент</div>
                  <div class="text_meneg">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Aenean Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Aenean Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Aenean Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    </p>
                    
                    ФАЙЛЫ: 
                    <ul>
                      <li><a href="#">1.Файл.jpg</a></li>
                      <li><a href="#">2.Файл.jpg</a></li>
                      <li><a href="#">3.Файл.jpg</a></li>
                      <li><a href="#">4.Файл.jpg</a></li>
                      <li><a href="#">5.Файл.jpg</a></li>
                    </ul>
         
                  </div>
                </div>
              </div><!--block_comment_meneg-->


            </div>

        </div><!--col-md-9-->
      </div><!--row-->

    </div>

  </div><!--maincontent-->



















    <div class="footer">

      <div class="container containersize1200">

        <div class="row">

          <div class="col-xs-12 col-md-4 col-lg-6">

            <a href="#" class="logo_foot"><img src="images/logo_foot.png" alt=""></a>

            <div class="copy">(c) Название 2017</div>

          </div><!--col-xs-12-->

          <div class="col-xs-12 col-md-8 col-lg-6">

            <div class="footmenu_wr">

              <ul class="foot_menu">

                <li><a href="#">Vkontakte</a></li>

                <li><a href="#">Skype</a></li>

                <li><a href="#">Whatsapp</a></li>

                <li><a href="#">Viber</a></li>

                <li><a href="#">Мой Мир @Mail.ru</a></li>

                <li><a href="#">Telegram</a></li>

                <li><a href="#">Одноклассники</a></li>

                <li><a href="#">ICQ</a></li>

                <li><a href="#">Jabber</a></li>

              </ul>

            </div>

          </div><!--col-xs-12-->

        </div>

      </div>

    </div><!--footer-->













 </div><!--wrapper-->
</div>

</body>



</html>

