<!DOCTYPE html>

<html>



<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="keywords" content="">

  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">



  <title>source</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>



  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">

  <link rel="stylesheet" href="slick/slick.css" type="text/css" media="screen" />

	<link rel="stylesheet" href="slick/slick-theme.css" type="text/css" media="screen" />

	<script type="text/javascript" src="slick/slick.min.js"></script>

  <link rel="stylesheet" href="js/formstyler/jquery.formstyler.css" type="text/css" media="screen" />
  <script type="text/javascript" src="js/formstyler/jquery.formstyler.min.js"></script>

  <script type="text/javascript" src="js/raty/jquery.raty.min.js"></script>

  <script type="text/javascript" src="js/jscharts.js"></script>



  <link rel="stylesheet" type="text/css" href="css/stylem.css">

  <script type="text/javascript" src="js/init.js"></script>



  <!--[if IE 9]>

      <link rel="stylesheet" type="text/css" href="css/ie9.css">

      <script type="text/javascript" src="js/placeholder.js"></script>

    <![endif]-->



</head>



<body>

  <div id="wrapper">

  <div class="wrapper">




  <header class="header header_m">

    <div class="container containersize1200">
      <div class="row">
        <div class="col-xs-4">
          <div class="logo_top">
            <img  src="images/logo.png" alt="">
          </div>
        </div>
        <div class="col-xs-8">
          <div  class="user_log">
            <div class="title_user_log">Личный кабинет</div>
            <form id="form">
                <input class="input" name="name" type="text" placeholder="Логин">
                <input class="input" name="password" type="password" placeholder="Пароль">
                <input type="submit" class="send_button" value="Войти">
            </form>
          </div>
          <div class="autoris_login">
            <div class="name_user_aut">Здравствуйте, Name</div>
            <a href="#" class="btn_user">Выйти</a>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="menu_center_group">
            <div class="main_menu">
              <ul>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Проверка заказов</a></li>
                <li><a href="#">Как купить</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Поддержка</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>






    <div class="maincontent contentbord">

      <div class="container containersize1200">

        <div class="row">
          
          <div class="col-xs-12 col-md-3 col-lg-2">
              <a href="#" id="menu-toggle">Меню</a>
              <div   id="aside">
                 <a href="#" class="closas" id="closas">jjjj</a>
                <div class="asides">

                  <ul class="ul_asid">
                    <li><a href="#">Товары</a></li>
                    <li><a href="#">Продажи</a></li>
                    <li><a href="#">Менеджеры</a></li>
                    <li><a href="#">Зарплата</a></li>
                    <li><a href="#">Настройки</a></li>
                    <li><a href="#">Тикеты</a></li>
                    <li><a href="#">Уведомления</a></li>
                    <li><a href="#">Чат <span class="chat">(+1)</span></a></li>
                  </ul>
                  <div class="block_asides">
                    <div class="title_sdide">Баланс:3000 р.</div>
                    <a href="#" class="btn_aside">Вывести средства</a>
                  </div>
                  <div class="block_asides">
                    <div class="title_sdide">Требуется залог: <span>3000 р.</span></div>
                    <a href="#" class="btn_aside">Оплатить залог</a>
                  </div>
                </div>
              </div>
          </div>


          <div class="col-xs-12 col-md-9 col-lg-10">

            <div class="titlecontent">Личные данные</div>
          

      
            <div class="wrap_block_form">

              <form id=" ">
                  <div class="wrap_group">
                    <div class="form_label">Имя:</div> 
                    <div class="wr_input_cont"> 
                      <input type="text" class="input_content" placeholder="Татьяна">
                    </div>
                  </div>
                  <div class="wrap_group">
                    <div class="form_label">E-mail:</div>  
                    <div class="wr_input_cont">
                      <input type="text" class="input_content" placeholder="email@mail.ru">
                    </div>
                  </div>
                  <div class="wrap_group">
                    <div class="form_label">Телефон:</div> 
                    <div class="wr_input_cont"> 
                      <input type="text" class="input_content" placeholder="+79089045566">
                    </div>
                  </div>
                  <div class="wrap_group">
                    <div class="form_label">Пароль:</div> 
                    <div class="wr_input_cont"> 
                      <input type="password" class="input_content" placeholder="Пароль">
                    </div>
                  </div>
                  <div class="wrap_group">
                    <div class="form_label">Повтор пароля:</div>  
                    <div class="wr_input_cont">
                      <input type="password" class="input_content" placeholder="Пароль">
                    </div>
                  </div>

                  <div class="title_form">Платежные данные:</div>

                  <div class="wrap_group">
                    <div class="form_label">WebMoney:</div> 
                    <div class="wr_input_cont"> 
                      <input type="text" class="input_content" placeholder="Татьяна">
                    </div>
                  </div>
                  <div class="wrap_group">
                    <div class="form_label">Qiwi:</div> 
                    <div class="wr_input_cont"> 
                      <input type="text" class="input_content" placeholder="email@mail.ru">
                    </div>
                  </div>
                  <div class="wrap_group">
                    <div class="form_label">Яндекс деньги</div>  
                    <div class="wr_input_cont">
                      <input type="text" class="input_content" placeholder="+79089045566">
                    </div>
                  </div>
                  <div class="wrap_group">
                    <div class="form_label">Bitcoin:</div>  
                    <div class="wr_input_cont">
                     <input type="text" class="input_content" placeholder="*********">
                    </div>
                  </div>

                  <input type="submit" class="send" value="Сохранить">

                </form>
  
            </div><!--wrap_block_form-->

          </div><!--col-md-9-->
        </div><!--row-->

      </div>

    </div><!--maincontent-->

















    <div class="footer">

      <div class="container containersize1200">

        <div class="row">

          <div class="col-xs-12 col-md-4 col-lg-6">

            <a href="#" class="logo_foot"><img src="images/logo_foot.png" alt=""></a>

            <div class="copy">(c) Название 2017</div>

          </div><!--col-xs-12-->

          <div class="col-xs-12 col-md-8 col-lg-6">

            <div class="footmenu_wr">

              <ul class="foot_menu">

                <li><a href="#">Vkontakte</a></li>

                <li><a href="#">Skype</a></li>

                <li><a href="#">Whatsapp</a></li>

                <li><a href="#">Viber</a></li>

                <li><a href="#">Мой Мир @Mail.ru</a></li>

                <li><a href="#">Telegram</a></li>

                <li><a href="#">Одноклассники</a></li>

                <li><a href="#">ICQ</a></li>

                <li><a href="#">Jabber</a></li>

              </ul>

            </div>

          </div><!--col-xs-12-->

        </div>

      </div>

    </div><!--footer-->













  </div><!--wrapper-->
</div>

</body>



</html>

