{% extends "BASE_one.html" %}

{#{% block title %}#}
{#    {{ title }}#}
{#{% endblock %}#}

{% block content %}

<div class="wrap_categorys clearfix">

    {% for catalog in category_list %}
    {% if catalog.alias_url|lower in request.get_full_path %}
    <div class="hcontent">{{ catalog.Name }}</div>


    {% for subcat in subCategory %}
    {% if subcat.category.Name == catalog.Name %}
    <div class="colum4">
        <div class="item_catalog">
{#            {% url 'card' as card %}#}
            <a href="{{ request.get_full_path|add:"card" }}" class="catalog_tab">
                <div class="catalog_tc">
                    {{ subcat.Name }}
                </div>
            </a>
            <div class="block_btn_catalog">
                <div class="cost catalog_inl">Цена: <span class="cost_numb">100</span></div>
                <div class="wrap-select selectsizemid catalog_inl">
                    <select name="" id="" class="select">
                        <option value="">Bitcoin</option>
                        <option value="">20</option>
                        <option value="">30</option>
                        <option value="">40</option>
                    </select>
                </div>
                <a href="#" class="btn_buy_catalog catalog_inl">Купить</a>
            </div>
        </div><!--item_categorys-->
    </div><!--colum4-->

    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>

    {% for article in articleList %}

<div class="content_title">{{ article.title|safe }}</div>
<div class="text_block">
    <p>
        {{ article.text|safe }}
    </p>
</div>
    {% endfor %}


{% endblock %}